<div class="container">
    <div class="py-5 text-center bg-secondary text-white">
        <h1 class="mb-3">
            Upload Image

        </h1>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-danger" value="Upload">
           
        </form>

    </div>
  <div class = "row">
   {% for x  in img %}
   <div class="col-sm-4">
    <div class="card m-2">
    <img src="{{x.photo.url}}" alt="" class="card-img-top" height="200px">
    <br>
    <br>
    {{x.date}}
   </div>
   
   {% endfor %}
   </div>

  </div>

</div>